@function get-vw($target) { 
  $vw-context: (1000*.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}


$con-width: get-vw(72px);

.article {
  margin-bottom: 3rem;

  .article-image {
    margin-bottom: 2rem;

    & > .article-pic {
      --bs-aspect-ratio: 45%;
      display: block;
      width: 100%;

      & > .img-fluid {
        object-fit: cover;
      }
    }
  }

  .block-img {
    img {
      object-fit: cover;
      max-width: 100%;
      height: auto;
    }
  }

  .tekst {
    h2, h3, h4 {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    h3 {
      font-family: 'Barlow';
      margin-top: 2.75rem;
      font-weight: 700;
      color: $dark-red;
    }
  }
}