.navbar {
  position: relative;

  & > .container {
    & > .row {
      width: 100%;
      margin: 0;
    }
  }

  .spacer {
    margin-bottom: 12px;
  }

  .navbar-brand-holder {
    flex: 0 0 auto;
    background: $white;
    z-index: 10;
  }

  .navbar-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 12px;
  }

  .navbar-brand {
    max-width: 336px;
    display: flex;
    margin: 0;

    .logo {
      width: 100%;
      height: auto;
    }
  }

  // .navbar-nav {
  //   .nav-link {
  //     border-radius: .5rem;
  //     padding: .5rem .75rem;
  //     cursor: pointer;
  //     margin: 0 .25rem;
  //     font-weight: 500;
      
  //     &.active, &:hover {
  //       background-color: $red;
  //       color: $white;
  //     }
  //   }
  // }

  .nav {
    .nav-link {
      border-radius: .5rem;
      padding: .5rem .75rem;
      cursor: pointer;
      margin: 0 .25rem;
      font-weight: 500;
      
      &.active, &:hover {
        background-color: $red;
        color: $white;
      }
    }
  }

  .navbar-toggler {
    position: absolute;
    left: 1.75rem;
    top: calc(50% - 25px);
    border: 0 none;
    padding: 0;
  }

  .navbar-header {
    display: flex;
    width: 100%;
    padding: 2rem 0 2rem 2rem;
    justify-content: space-between;

    .logo {
      height: auto;
      width: 120px;
    }

    .btn-close {
      margin: 0.15rem 2rem 0 0;
      padding: 0.75rem;
      opacity: 1;
    }
  }

  .navbar-footer {
    display: none;
  }
}

@media (min-width: 768px) {

  .navbar {

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      border-bottom: 3px solid $blue;
      left: 0;
      bottom: 1.6rem;
    }

    .navbar-brand-holder {
      position: relative;
      left: 3.25rem;
      padding-left: 20px;
      width: calc(20% + 20px);
    }

    .navbar-brand {
      .logo-icon {
        width: 30%;
        height: auto;
        position: absolute;
        left: -55px;
        top: 10px;
      }
    }
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .navbar {

    .navbar-links {
      padding-right: 0;

      .navbar-nav {
        flex-direction: row;
        justify-content: flex-end;

        .nav-link {
          font-size: smaller;
          padding: 0.45rem 0.65rem;
          margin: 0 0.15rem;
        }
      }
    }
    .navbar-brand-holder {
      left: 2rem;

      .navbar-brand {
        .logo-icon {
          left: -43px;
          top: 5px; 
        }
      }
    }
    
  }
}

@media (max-width: 767px) {

  .top-links {
    margin-bottom: 0;
  }

  .navbar {
    & > .container {
      padding: 0;
    }

    .navbar-brand-holder,
    .navbar-links {
      display: flex;
      justify-content: center;
    }

    .navbar-brand-holder {
      padding-bottom: .75rem;
      margin-bottom: .15rem;
      border-bottom: 3px solid $blue;
    }

    .navbar-nav {
      .nav-link {
        border-radius: 0;
        line-height: 2.25;
        font-size: 1.25rem;
        margin: 0;
        padding-left: 2rem;
        background: $light-blue;
        
        &:not(:last-child) {
          border-bottom: 1px solid #b3b3b3;
        }
      }
    }

    .navbar-brand {
      .logo {
        width: 9rem;
      }
    }

    .navbar-links {
      margin-bottom: 0;
      padding: 0;
      justify-content: flex-start;

      .navbar-nav {
        flex-direction: column;
        width: 100%;
      }

      .navbar-footer {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 2rem;

        & > a {
          width: 2rem;
        }
      }

      &.offcanvas {
        box-shadow: 0 0 25px 2px rgba(0,0,0,.75);
        overflow-y: auto;
      }
    }
  }
}

@media (max-width: 576px) {
  .navbar {
    .navbar-links {
      &.offcanvas {
        width: 300px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .navbar {
    .navbar-brand {
      .logo-icon {
        // left: -68px;
        // top: 14px;
        left: -77px;
        top: 17px;
      }
    }
  }
} 